* {
    margin:10px;
  }

body {
    margin:10px;
    background-color: #ebe5e5
  }


.mainArticle{
    margin: 20px;
    padding: 20px;
}

.articleImageSource{
    text-align: left;
}

.articleTitle{
    text-align: center;
}


.articleImage{
    /* background-image: url("assets/image4.jpg"); */
    width:380px;
    height: 300px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    border: 1px solid black;
  }

  .article{
    text-align: left;
    margin:0;
    padding:50px;
  }

  .rowButtons{
    
  }

  .shareButton{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #4bc475;
    border: 1px solid #000;
  }
