html{
    background-color: #F2F2F2;
}
* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      }
      100% {
          transform: translateX(0);
      }
  }
  header {
    position: fixed;
    background-color: white;
    top: 0;
    width: 96%;
    justify-content: space-between;
    display: flex;
    height: 120px;
    padding-bottom: 26px;
    border-radius: 0px 0px 23% 23%;
    border: 1px 3px 5px 5px solid black;
    border-bottom: 1px solid;
}
.login{
    height: fit-content;
}
.company-icon {
    height: 90px;
    margin: 10px;
}
.login-icon {
    height: 30px;
    margin: 10px;
}
#burger-menu-icon {
    width: 40px;
    height: 40px;
    background-image: url('../about-us-page/assets/burger-menu-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 50;
    position: relative;
    background-size: contain;
    margin: 10px;
}
#burger-menu-open {
    width: 50%;
    height: -webkit-fill-available;
    border: 1px solid black;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: lightblue;
    z-index: 5;
}
.menu-link {
    display: block;
    color: darkred;
    text-decoration: none;
    font-size: xx-large;
    padding: 30px;
}
.visible {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    display: block;
}
.hidden {
    display: none;
}
  *,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.background{
width: 300px;
height: 520px;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
}
.background .shape{
height: 200px;
width: 200px;
position: absolute;
border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient( #BF7049, #49BEB7 );
    left: -13px;
    top: 79px;
}
.shape:last-child{
background: linear-gradient(
    to right,
    #733415,
    #7AFFF6
);
right: -30px;
bottom: -80px;
}
form{
height: 520px;
width: 340px;
background-color: rgba(255,255,255,0.13);
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 50px 35px;
margin-top: 50px;
}
form *{
font-family: 'Poppins',sans-serif;
color: #FFFFFF;
letter-spacing: 0.5px;
outline: none;
border: none;
}
form h3{
font-size: 32px;
font-weight: 500;
line-height: 42px;
text-align: center;
color: #080710;
}
label{
display: block;
margin-top: 30px;
font-size: 16px;
font-weight: 500;
}
input{
display: block;
height: 50px;
width: 100%;
background-color: #20736D;
border-radius: 3px;
padding: 0 10px;
margin-top: 8px;
font-size: 14px;
font-weight: 300;
}
::placeholder{
color: #E5E5E5;
}
form button{
margin-top: 50px;
width: 100%;
background-color: #49BEB7;
color: #080710;
padding: 15px 0;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}
form button a {
    text-decoration: none;
}
.social{
margin-top: 30px;
display: flex;
}
.social div{
background: red;
width: 100%;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: #20736D;
color: #EAF0FB;
text-align: center;
}
.social div:hover{
background-color: #20736D;
}
.social i{
margin-right: 4px;
}
#subscribe-pop-msg {
    height: 200px;
    width: 75%;
    background-color: whitesmoke;
    z-index: 100;
    position: relative;
    margin: auto;
    text-align: center;
    display: none;
}
#logged-in-msg {
    display: none;
}
.footer{


    background-color: #733415;
    color: white;
    height: 30px;
    float: left ;
    display: grid;
    width: 100%;
    padding-left: 20px;
    margin-left:-10px;
    font-size: 13px;
    font-family: helvetica;
    position: fixed;
    bottom: 0%;
/*  margin: 15px 15px 0px 15px; */


}
h4{
    font-size: 100px;
    display: flex;
    text-align: center;
    position: sticky;
    margin-top:150px;
}
#pc-menu{
    display: none;
}
@media screen and (min-width: 900px) {
    #burger-menu-icon{
        width: 0cm;
    }
    header {
        justify-content: space-between;
        display: grid;
        grid-template-columns: 100px auto 100px;
        grid-template-rows:auto auto ;
        height: 120px;
        padding-bottom: 30px;
        border-radius: 0px 0px 32% 32%;
        border: 1px 3px 5px 5px solid black;
        border-bottom: 1px solid;
        position: fixed;
        z-index: 9;
        background-color: white;
        top: 0;
        justify-items: center;
        width: 100%;
    }
    .company{
        grid-row: 1;
        grid-column: 2;
        text-align: center;
        width: fit-content;
    }
    .company-icon {
        height: 70px;
        margin: 0px;
    }
    .login{
        grid-column: 3;
        grid-row: 1;
    }
    .login-icon {
        float: right;
        height: 40px;
    }
    #pc-menu{
        grid-row: 2;
        grid-column: 1/4;
        display: flex;
        justify-content: center;
    }
    #pc-menu a{
        text-decoration: none;
        font-weight: bold;
        color: #20736D;
        font-size: 18px;
        margin: 0px 50px;
        padding: 6px;
        align-self: center;
        font-family:sans-serif ;
    }
    .company-icon:hover{
        width: 140px;
        height: 100px;
    }
    .company:hover ~ #pc-menu a{
        display: none;
    }
    .company-icon{
        transition: width 3s, height 0.3s;
    }
    .footer{
        height: 30px;
    }
}